[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
multipledispatch = "*"
deep-translator = "*"
atlasacademy-py = {editable = true, git = "https://github.com/Max-Xie-593/FGOAtlasAcademyAPI.git"}
ambr-py = "*"
umamusume-api = {git = "https://github.com/Max-Xie-593/UmamusumeAPI.git"}
hakushin-py = {git = "https://github.com/seriaati/hakushin-py.git"}

[dev-packages]

[requires]
python_version = "3.12"
