[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hakushin-py = "*"
pandas = "*"
multipledispatch = "*"
deep-translator = "*"
atlasacademy-py = {editable = true, git = "https://github.com/Max-Xie-593/FGOAtlasAcademyAPI.git"}
ambr-py = "*"

[dev-packages]

[requires]
python_version = "3.12"
